---
import Contact from "../components/Contact.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Testimonial from "../components/Testimonial.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main class="space-y-20">
		<Hero/>
		<Services/>
		<!-- <Case/> -->
		<!-- <Team/> -->
		<Testimonial/>
		<Contact/>
	</main>
</Layout>