---
import Container from "./Container.astro";
import faq from "./Data/faq.json";
import FaqCard from "./FaqCard.astro";
---

<Container>
    <div class="container mx-auto max-w-2xl -mt-16 pb-6 mb-6 grid grid-cols-1 gap-4">
        <div class="py-6 lg:pb-12 px-4">
            <input type="search" id="filter" placeholder="Enter keywords to search..." class="block px-4 py-3 w-full text-base text-black bg-zinc-100 rounded-[45px] border border-zinc-500 shadow-sm focus:border-black max-w-lg mx-auto outline-none"
            >
        </div>

        <div class="space-y-4">
            {
                faq.map(({ question, answer }, i) => (
                  <FaqCard question={question} answer={answer} open={i==0} id={`a${i}`} />  
                ))
            }
        </div>
    </div>
</Container>

<script is:inline>
    const input = document.querySelector('input')
    let searchTimeout = undefined
    input.oninput = () => {
        clearTimeout(searchTimeout)
        searchTimeout = setTimeout(() => {
            const items = input.value.split(/[\s,]/)
            const all = document.querySelectorAll('details')

            if (!items.length) {
                all.forEach(d => d.style.display = '')
            } else {
                all.forEach((d,i) => {
                    if (items.some(item => new RegExp(item, 'gi').test(d.textContent))) {
                        d.style.display = ''
                    } else {
                        d.style.display = 'none'
                    }
                })
            }
        }, 300)
    }
</script>
