---
type Props = {
	question: string;
	answer: string;
	id: string;
	open: boolean;
};

const { question, answer, open, id } = Astro.props;
---
<details id={id} open={open} class="group [&_summary::-webkit-details-marker]:hidden rounded-[20px] bg-zinc-200">
    <summary class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900">
        <h2 class="font-medium">{question}</h2>

        <svg
            class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"
            />
        </svg>
    </summary>

    <p class="mt-4 px-4 pb-2 leading-relaxed text-gray-700">
        {answer}
    </p>
</details>

<style>
    details[open] {
        @apply bg-lime;
    }

    details[open] h2 {
        @apply font-bold;
    }
</style>